@font-face {
  font-family: "LunchBoxOrnamentsW05-Rg";
  src: url("../fonts/LunchBox/LunchBoxOrnamentsW05-Rg.eot?#iefix");
  src: url("../fonts/LunchBox/LunchBoxOrnamentsW05-Rg.eot?#iefix") format("eot"), url("../fonts/LunchBox/LunchBoxOrnamentsW05-Rg.woff2") format("woff2"), url("./fonts/LunchBox/LunchBoxOrnamentsW05-Rg.woff") format("woff"), url("../fonts/LunchBox/LunchBoxOrnamentsW05-Rg.ttf") format("truetype");
}

@font-face {
  font-family: "LunchBoxW05-Bold";
  src: url("../fonts/LunchBox/LunchBoxW05-Bold.eot?#iefix");
  src: url("../fonts/LunchBox/LunchBoxW05-Bold.eot?#iefix") format("eot"), url("../fonts/LunchBox/LunchBoxW05-Bold.woff2") format("woff2"), url("../fonts/LunchBox/LunchBoxW05-Bold.woff") format("woff"), url("../fonts/LunchBox/LunchBoxW05-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "LunchBoxW05-Light";
  src: url("../fonts/LunchBox/LunchBoxW05-Light.eot?#iefix");
  src: url("../fonts/LunchBox/LunchBoxW05-Light.eot?#iefix") format("eot"), url("../fonts/LunchBox/LunchBoxW05-Light.woff2") format("woff2"), url("../fonts/LunchBox/LunchBoxW05-Light.woff") format("woff"), url("../fonts/LunchBox/LunchBoxW05-Light.ttf") format("truetype");
}

@font-face {
  font-family: "LunchBoxW05-Regular";
  src: url("../fonts/LunchBox/LunchBoxW05-Regular.eot?#iefix");
  src: url("../fonts/LunchBox/LunchBoxW05-Regular.eot?#iefix") format("eot"), url("../fonts/LunchBox/LunchBoxW05-Regular.woff2") format("woff2"), url("../fonts/LunchBox/LunchBoxW05-Regular.woff") format("woff"), url("../fonts/LunchBox/LunchBoxW05-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'geomanistregular';
  src: url("../fonts/geomanist/Geomanist-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geomanistmedium';
  src: url("../fonts/geomanist/Geomanist-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geomanistblack';
  src: url("../fonts/geomanist/Geomanist-Black.otf");
  src: url("../fonts/geomanist/AnyConv.com__Geomanist-Medium (1).woff"), url("../fonts/geomanist/AnyConv.com__Geomanist-Black.woff2");
}

@font-face {
  font-family: 'geomanistbold';
  src: url("../fonts/geomanist/Geomanist-Bold.otf");
  src: url("../fonts/geomanist/AnyConv.com__Geomanist-Bold.woff"), url("../fonts/geomanist/AnyConv.com__Geomanist-Black.woff2");
}

body, html {
  font-family: 'geomanistregular';
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.navbar-nav a {
  color: #021D6D !important;
  font-family: 'geomanistbold', sans-serif;
  font-weight: 900;
}

.mycustomposition {
  margin-top: 150px;
  margin-left: -130px;
  z-index: -1;
}

.mycustomposition2 {
  margin-top: 380px;
  margin-left: -150px;
}

/* yellow flower */

.position-yellow-f {
  position: absolute;
  top: -150px;
}

/* <!-- the hero section  */

.customstleh1 {
  color: #021D6D !important;
  font-family: "LunchBoxW05-Regular";
  font-size: 90px !important;
  font-weight: 400 !important;
  line-height: 1;
  margin: 0 auto;
  font-size: 25.5vw;
  width: 100%;
}

body {
  overflow-x: hidden;
}

.customstylep {
  font-family: 'geomanistmedium', sans-serif;
  /* width: 50%; */
}

.dartimg-hero {
  margin-right: -50px;
}

.hero-image {
  background-color: chocolate;
}

.hero-wrapper {
  text-align: end;
}

.hero-wrapper img {
  margin-right: -12px;
}

/* .flo{
    background-color: crimson;

  } */

.text-on-img {
  position: absolute;
  top: 25px;
  right: 0;
  width: 20%;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .gx-0, .g-0 {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-content: center !important;
    align-content: center !important;
    margin-top: 0px !important;
  }
  .flo {
    width: 100% !important;
  }
  .text-hero-style {
    margin: 0px !important;
    width: 90% !important;
    margin-left: 10% !important;
  }
  .dart-text-row {
    margin: 0px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: flex-end;
  }
  .dart-text-row img {
    width: 40%;
    margin: 0px !important;
    transform: rotate(270deg) scaleX(-1);
  }
  .customstylepdart {
    margin: 0px !important;
    height: 150px;
    width: 40% !important;
  }
  .hero-wrapper {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
  }
  .hero-wrapper img {
    width: 100% !important;
  }
  .text-on-img {
    width: 28%;
  }
  .position-yellow-f {
    width: 180px;
  }
}










/* the process of taking part section */

.bgimage {
  width:100%;
  height:500px;
  background: url("../images/bg--desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

@media only screen and (max-width: 500px) {
  .bgimage {
    width:100%;
    height: 1000px !important;
    background: url("../images/bg--mobile.png")!important;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
  }
}

.takepart {
  margin-top: 50px;
  width: 94%;
  margin: auto 3%;
  border-radius: 20px;
}

.takepart h1 {
  color: #FFFFFF !important;
  font-family: "LunchBoxW05-Regular";
  font-size: 90px !important;
  font-weight: 400 !important;
  line-height: 1;
  margin: 0 auto;
  font-size: 25.5vw;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase  !important;
}

.takepart p {
  font-family: 'geomanistbold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF !important;
}

/* prisy section */

.prisy-section {
  margin-top: 70px;
  text-transform: uppercase  !important;
}

.prisy-section h2 {
  font-family: "LunchBoxW05-Regular";
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #021D6D !important;
  margin-bottom: 30px;
}

.prisy-section h5 {
  font-family: "LunchBoxW05-Regular";
  font-weight: 300;
  font-size: 42px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.prisy-section p {
  font-family: 'geomanistregular', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.position-greenleaf-prizy {
  position: absolute;
  right: 0px;
}

/* instagram setion */

.instagram-section {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 70px;
}

.insta h2 {
  font-family: "LunchBoxW05-Regular";
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #021D6D !important;
  margin-bottom: 20px;
  text-transform: uppercase  !important;
}

.insta img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.position-greenleaf-insta {
  position: absolute;
  z-index: -3;
}

/* table */

.stylethetable table {
  width: 60% !important;
  margin-left: 20%;
  margin-right: 20%;
}

.stylethetable h2 {
  font-family: "LunchBoxW05-Regular";
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #021D6D !important;
  margin-bottom: 20px;
}

.position-leafrightofthebutton {
  position: absolute;
  right: 0px;
  top: -100px;
}

/*  footer */

footer {
  background-color: #000046;
  color: white;
}

.stylet-the-footer {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: rgba(26, 124, 173, 0, 5) solid;
}

.formore ul {
  margin-left: 0px;
}

.formore li {
  display: inline;
}

.footer-first-row-style {
  font-family: "LunchBoxW05-Regular", Roboto, sans-serif;
  font-size: 2rem;
  white-space: nowrap;
}

.formore li a {
  line-height: 1.2;
  text-decoration: none;
  color: rgb(231, 231, 231);
  font-size: 18px;
}

.formore2 li a {
  text-decoration: none;
  color: rgb(231, 231, 231);
}

.formore2 li {
  display: inline;
  font-size: 13px;
  list-style: none;
}

/*---------------------------
-- HERO OVERRIDE
---------------------------*/

.jh-flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.jh-w--100 {
  width: 100%;
}
.jh-width--60 {
  background: red;
  height: 100%;
  width: 60%;
}
.jh-width--50 {
  width: 50%;
}
.jh-width--40 {
  width: 40%;
}
.jh-width--10 {
  width: 10%;
}
.jh-width--250px {
  width: 250px;
  min-width: 250px;
}
.jh-width--150px {
  width: 150px;
  min-width: 150px;
}
.jh-ta--right {
  text-align: right;
}
.jh-mt--25px {
  margin-top: 25px;
}
.jh-pr--50px {
  padding-right: 50px;
}
.jh-pt--50px {
  padding-top: 50px;
}
.jh-pb--100px {
  padding-bottom: 100px;
}
.jh-arrow--text {
  width: 20%;
}
.jh-as--fe {
  align-self: flex-end;
}
.jh-flex-direction--column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.jh-flex-direction--row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.jh-align-items--c {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.jh-align-items--fe {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.jh-align-items--fs {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.jh-d--none {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .jh--fd--c--1024px {
    flex-direction: column;
  }
  .jh--w--100--1024px {
    width: 100%;
  }
  .jh--fs--60--1024px {
    font-size: 60px !important;
  }
  .jh-width--80px--1024px {
    width: 80px;
    min-width: 80px;
  }
  .jh-d--none--1024px {
    display: none;
  }
  .jh-d--block--1024px {
    display: block !important;
  }
}

.jh-justify-content--c {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.jh-justify-content--fe {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.jh-justify-content--fs {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.jh-flex--1-0-auto {
  flex: 1 0 auto;
}
